{% extends "layout.html" %}
{% block content %}
{% set headings = ['Test', 'Powerpoint', 'Service'] %}
{% set column_colours = ['aaa', 'bbb', 'aaa'] %}
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}
</style>
<div class="ext-box">
    <div class="int-box">
        <h2>Email Recipients</h2>
    </div>
    <div class="int-box">
      <form action="{{url_for('add_recipient_page_api')}}">
        <input type="submit" value="Add New" class="button button_add" style="float: right;" />
      </form>
    </div>
</div>
    <div class="row">
      {% for i in [0, 1, 2] %}
        <div class="column" style="background-color:#{{column_colours[i]}};">
         <h3>{{headings[i]}}</h3>
         <hr style="width:50%;text-align:left;margin-left:0">
         {% for r in recipients %}
           {% if r['register'][i] == '1' %}
             <div>
               {{r['email']}} <a href="{{url_for('remove_recipient_register_api', email=r['email'], register_index=i)}}" style="color:#F00;font-size=10;border:none;background-color:#{{column_colours[i]}};">X</a>
             </div>
           {% endif %}
         {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="row">
        {% for i in [0, 1, 2] %}
            <div class="column" style="background-color:#FFF;">
                <form action="{{url_for('add_recipient_register_api')}}">
                    <input type="hidden" name="register_index" value="{{i}}" />
                    <label for="email">Update:</label>
                    <select id="email" name="email">
                      {% for r in recipients %}
                        {% if r['register'][i] != '1' %}
                          <option value="{{r['email']}}">{{r['email']}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <input type="submit" value="Add" />
                  </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}