{% extends "service_manipulate.html" %}

{% block form_start %}
<h2>Edit Service</h2>
<form action="{{url_for('update_service_api')}}">
  <input type="hidden" name="id" value="{{service['id']}}" />
  <input type="hidden" name="email_status" value="{{service['email_status']}}" />
  <input type="hidden" name="slides_email_status" value="{{service['slides_email_status']}}" />
{% endblock %}

{% block form_end %}
</form>
<form action="{{url_for('service_api')}}" id="user_form">
  <input type="hidden" name="id" value="{{service['id']}}" />
  <input type="submit" value="Cancel">
</form>
{% endblock %}
