{% extends "layout.html" %}
{% block content %}


<div class="ext-box">
    <div class="int-box">
        <h2>Services</h2>
    </div>
    <div class="int-box">
      <form action="http://localhost:5000/add_service_page">
        <input type="submit" value="Add New" class="button button_add" style="float: right;" />
      </form>
    </div>
</div>

<div style="padding-top:50px;">
  <form action="http://localhost:5000/service">
    <label for="id">Choose a service:</label>
    <select id="id" name="id">
      {% for service in services %}

          <option value="{{service['id']}}">{{service['date']}}</option>

      {% endfor %}
    </select>
    <input type="submit" value="View" />
  </form>
</div>

{% endblock %}
