{% extends "layout.html" %}

{% block preview %} {% include 'service_email_template.html' %} {% endblock %}

{% block content %}

<style>
  input.submitEmailButton {
    border: 4px solid red;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: {{service_email_params['font_size']}};
    cursor: pointer;
  }

  input.submitSlidesButton {
    border: 4px solid red;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: {{ppt_email_params['font_size']}};
    cursor: pointer;
  }
  table, th, td {
    border: 1px solid black;
  }
</style>

{% if user.is_authenticated %}
  {% if user.can_edit() %}
  <form class="form" id="form" action="{{url_for('edit_service_api')}}" >
      <input type="submit" class="submitBtn" value="Edit" />
      <input type="hidden" name="id" value="{{service['id']}}" />
  </form>
  {% endif %}
  {% if user.can_email() %}
    <br/>
    <br/>
    <table>

      <tr>
        <th>
          <form class="form" id="form1" action="{{url_for('send_music_email_api')}}" >
              <input type="submit" class="submitEmailButton" value="{{service_email_params['email_label']}}" />
              <input type="hidden" name="id" value="{{service['id']}}" />
              <input type="hidden" name="recipients" value="{{service_email_params['recipients']}}" />
          </form>
        </th>

        <th></th>
      </tr>

      <tr>
        <th>
          <form class="form" id="form2" action="{{url_for('email_slides_api')}}" >
              <input type="submit" class="submitSlidesButton" value="{{ppt_email_params['email_label']}}" />
              <input type="hidden" name="id" value="{{service['id']}}" />
              <input type="hidden" name="recipients" value="{{ppt_email_params['recipients']}}" />
          </form>
        </th>

        <th>
          <form class="form" id="form3" action="{{url_for('preview_slides_api')}}" >
              <input type="submit" class="previewSlidesEmail" value="Preview Slides" />
              <input type="hidden" name="id" value="{{service['id']}}" />
          </form>
        </th>
      </tr>
    </table>
  {% endif %} <!-- user can email -->
{% endif %} <!-- user is authenticated -->
{% endblock %}
