{% extends "layout.html" %}
{% block content %}

<h2>{{song['name']}}</h2>

<style>
textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
</style>
<div>
  <textarea rows="40" cols="38" name="lyrics" form="usrform" wrap="soft">
    {{slides}}
  </textarea>
  <form action="{{url_for('update_slides_api')}}" id="usrform">
    <input type="submit">
    <input type="hidden" name="name" value="{{song['name']}}" />
  </form>
  <form action="{{url_for('song_api')}}" id="usrform">
    <input type="submit" value="Cancel">
    <input type="hidden" name="name" value="{{song['name']}}" />
  </form>
</div>

{% endblock %}
