{% extends "layout.html" %}
{% block content %}

<div class="ext-box">
    <div class="int-box">
        <h2>Songs</h2>
    </div>
    <div class="int-box">
      <form action="{{url_for('add_song_page_api')}}">
        <input type="submit" value="Add New" class="button button_add" style="float: right;"/>
      </form>
    </div>
</div>

<div style="padding-top:50px;">
  <form action="{{url_for('song_api')}}">
    <label for="name">Choose a song:</label>
    <select id="name" name="name">
    _VIEW_SERVICE_PARAMS_
    {% for name in song_names %}
      <option value="{{name}}">{{name}}</option>
    {% endfor %}
    </select>
    <input type="submit" value ="View">
  </form>
</div>
{% endblock %}
