{% extends "layout.html" %}
{% block content %}

<form method="POST" action="{{url_for('add_song_api')}}" enctype="multipart/form-data">
  <p>Name: <input type="text" id="name" name="name"/></p>
  <p>Ccli: <input type="text" id="ccli" name="CCLI number"/></p>
  <p>Lyrics: <input type="file" name="lyrics"></p>
  <p>Chords: <input type="file" name="chords"></p>
  <p>Lead: <input type="file" name="lead"></p>
  <p>Slides: <input type="file" name="slides"></p>
  <p><input type="submit" value="Submit"></p>
</form>

<form action="{{url_for('songs_api')}}" id="user_form">
  <input type="submit" value="Cancel">

</form>
{% endblock %}
